%br
= simple_form_for [:admin, @item] do |f|
  = f.input :name
  = f.input :price, as: :integer
  = f.input :discription, as: :text
  = f.input :image, as: :file
  = f.input :active, as: :boolean
  = f.button :submit, class: 'btn btn-primary'
%br
