
%p
  %b 商品名:
  = @item.name
%p
  %b 価格:
  = price_format(@item.price)
%p
  %b 商品説明:
  = simple_format(@item.description)
%p
  %b 商品画像:
  - if @item.image?
    .thumbnail
      = image_tag @item.image.url

= link_to '編集', edit_admin_item_path(@item)
\|
= link_to '商品一覧に戻る', admin_items_path
