%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: users_update_address_path , html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :zip
    %br/
    = f.text_field :zip
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update"
= link_to "Back", order_confirmation_stocked_items_path
