.row
  .col-md-5
    %h2 送付先情報の変更
    = simple_form_for(resource, as: resource_name, url: users_update_address_path , html: { method: :put }) do |f|
      = f.input :name
      = f.input :zip
      = f.input :address
      = f.input :current_password, input_html: { autocomplete: 'off' }, as: :password
      = f.button :submit, '更新する', class: 'btn btn-primary'
    %br
    = link_to "注文確認画面に戻る", order_confirmation_stocked_items_path
