.row
  .col-md-5
    %h2 ログインユーザー新規登録
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.input :email, autofocus: true, as: :email
      = f.input :name
      = f.input :zip
      = f.input :address
      = f.input :password, input_html: { autocomplete: 'off' }, hint: '', as: :password
      = f.input :password_confirmation, input_html: { autocomplete: 'off' }, as: :password
      = f.button :submit, '新規登録', class: 'btn btn-primary'
    %br
    = link_to 'ログインする', new_user_session_path
