%h2 パスワードを変更する
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, "新しいパスワード"
    %br
    = f.password_field :password, autofocus: true, autocomplete: "off"
    %p.help-block= "#{@minimum_password_length}文字以上で入力してください。"
  .field
    = f.label :password_confirmation, "新しいパスワードを再入力"
    .form-group= f.password_field :password_confirmation, autocomplete: "off"
  %br
  .actions
    .form-group= f.submit 'パスワードを変更する', class: 'btn btn-primary'
  = link_to 'ログインする', new_user_session_path
  \|
  = link_to '新規登録する', new_user_registration_path
