.row
  .col-md-5
    %h2 パスワードを忘れた場合
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.input :email, input_html: { autofocus: true }, as: :email
      = f.button :submit, 'パスワード再発行メールを送信する', class: 'btn btn-primary'
    %br
    = link_to 'ログインする', new_user_session_path
    \|
    = link_to '新規登録する', new_user_registration_path
