%h1 Listing ordered_items

%table
  %thead
    %tr
      %th Item
      %th Name
      %th Price
      %th Image
      %th
      %th
      %th

  %tbody
    - @ordered_items.each do |ordered_item|
      %tr
        %td= ordered_item.item
        %td= ordered_item.name
        %td= ordered_item.price
        %td= ordered_item.image
        %td= link_to 'Show', ordered_item
        %td= link_to 'Edit', edit_ordered_item_path(ordered_item)
        %td= link_to 'Destroy', ordered_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ordered item', new_ordered_item_path
