
%p
  %b Item:
  = @ordered_item.item
%p
  %b Name:
  = @ordered_item.name
%p
  %b Price:
  = @ordered_item.price
%p
  %b Image:
  = @ordered_item.image

= link_to 'Edit', edit_ordered_item_path(@ordered_item)
\|
= link_to 'Back', ordered_items_path
