= form_for @order_history do |f|
  - if @order_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order_history.errors.count, "error")} prohibited this order_history from being saved:"
      %ul
        - @order_history.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :delivery_date
    = f.datetime_select :delivery_date
  .field
    = f.label :shipping
    = f.number_field :shipping
  .field
    = f.label :tax
    = f.number_field :tax
  .field
    = f.label :total_amount
    = f.number_field :total_amount
  .actions
    = f.submit 'Save'
