= form_for @stocked_item do |f|
  - if @stocked_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stocked_item.errors.count, "error")} prohibited this stocked_item from being saved:"
      %ul
        - @stocked_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :item
    = f.text_field :item
  .field
    = f.label :count
    = f.number_field :count
  .actions
    = f.submit 'Save'
