%h1 ショッピングカート

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 商品画像
      %th 商品名
      %th 価格
      %th 個数
      %th.col_buttons 操作

  %tbody
    - @stocked_items.order(:id).each do |stocked_item|
      %tr
        %td
          .item_image_frame_small= image_tag(stocked_item.item.image, class: 'img-rounded', alt: stocked_item.item.name)
        %td= stocked_item.item.name
        %td= price_format(stocked_item.item.price)
        %td= stocked_item.count
        %td
          = link_to '商品ページ', item_path(stocked_item.item), class: 'btn btn-info'
          = link_to '削除', stocked_item, method: :delete, data: { confirm: '商品を削除してよろしいですか？' }, class: 'btn btn-danger'

%br

=link_to '注文確認に進む', order_confirmation_stocked_items_path, class: 'btn btn-primary'
