%h1 注文確認

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 商品画像
      %th 商品名
      %th 価格
      %th 個数
      %th.col_buttons 操作

  %tbody
    - @stocked_items.each do |stocked_item|
      %tr
        %td
          .item_image_frame_small= image_tag(stocked_item.item.image, class: 'img-rounded')
        %td= stocked_item.item.name
        %td= price_format(stocked_item.item.price)
        %td= stocked_item.count
        %td= link_to '商品ページ', item_path(stocked_item.item), class: 'btn btn-info'

.row
  .col-md-6
    %h1= '請求金額'
    %table.table.table-bordered.table-striped
      %tr
        %th 合計金額
        %td= price_format(@stocked_items.total_amount)
      %tr
        %th 代引き手数料
        %td= price_format(@stocked_items.cod_fee)
      %tr
        %th 送料
        %td= price_format(@stocked_items.shipping)
      %tr
        %th 消費税
        %td= price_format(@stocked_items.sales_tax)
      %tr
        %th 請求金額
        %td= price_format(@stocked_items.billing_amount)

  .col-md-6
    %h1= '送付先'
    %table.table.table-bordered.table-striped
      %tr
        %th 名前
        %td= current_user.name
      %tr
        %th 郵便番号
        %td= current_user.zip
      %tr
        %th 住所
        %td= current_user.address
    = link_to '送付先を変更する', users_edit_address_path, class: 'btn btn-primary'
%br

- order_history = current_user.order_histories.build
= simple_form_for order_history do |f|
  - if @order_history != nil && @order_history.errors.any?
    %ul
      - @order_history.errors.full_messages.each do |message|
        %li.msg_error= message
  .field
    = f.label '配送希望日'
    = f.select :delivery_date, @stocked_items.delivery_date_candidates.map{ |d| [date_format(d), d] }
    = f.select :delivery_time, options_for_select(@stocked_items.delivery_time_candidates)
  %br
  = f.button :submit, '注文を確定する', class: 'btn btn-warning'
%br

=link_to '商品一覧に戻る', items_path
\|
=link_to 'ショッピングカートに戻る', stocked_items_path 
