
%p
  %b User:
  = @stocked_item.user
%p
  %b Item:
  = @stocked_item.item
%p
  %b Count:
  = @stocked_item.count

= link_to 'Edit', edit_stocked_item_path(@stocked_item)
\|
= link_to 'Back', stocked_items_path
